body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: #009E3C;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 5px 80px 5px 50px;
    font-weight: 200;
    position: sticky;
    top: 0;
}

#navbar .logo a img {
    vertical-align: middle;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-links, .nav-icons {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li a, .nav-icons li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #fff;
    color: #009E3C;
}

.nav-links li a:active {
    background-color: #fff;
    color: #009E3C;
}

.nav-toggle {
    display: none;
}


